node_modules/

package-lock.json

dist/assets/css/style.*
dist/assets/js/core.*

dist/html/
dist/*.html
dist/*/*.html
dist/*/*/*.html

dist/assets/js/app/

dist/vendor/

dist/export/temp/
dist/export/vcard/

dist/assets/js/jquery/jquery.all.js


*/.env
*/.env.local

.DS_Store
Thumbs.db

.next/
build/